apex==0.9.10dev
gdown==3.12.2
keras==2.4.3
matplotlib==3.3.2
numpy==1.19.2
pandas==1.1.2
ptvsd==4.3.2
scikit_learn==0.23.2
seaborn==0.11.0
tensorboardX==2.1
torch==1.6.0
tqdm==4.49.0
transformers==3.3.1
fastcore==1.0.13
wandb==0.10.5
git+https://www.github.com/nvidia/apex